* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("Anh-gia-dinh.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  padding-top: 350px;
}

/* h1 {
  color: white;
  font-size: 50px;
  text-shadow: 2px 2px 10px black;
} */

form {
  color: white;
  font-size: 22px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  width: 300px;
}

button {
  padding: 15px 40px;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: #ffcc00;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #ff9900;
  transform: scale(1.1);
}

#error {
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
}
